body {
	font-family: arial, verdana, sans-serif;
	font-size: 10pt;
	background : url(images/bg.gif);
}

td {
	font-size: 10pt;
}

.form_input {
	width: 100%;
	vertical-align: top;
}

.form_label {
	width: 20%;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

#maintable {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 0;
	background: #000000;
}

#mainmenu {
	padding: 4px;
	color: #ffffff;
}

#mainmenu a {
	color: #D3D3A6;
}
a { color: #554E48; }
.row_head {background-color : #554E48; color: #ffffff;}
.row_on {background-color : #D3D3A6;}
.row_off {background-color : #CCCC99;}
.row_head a { color: #ffffff;}


.row_on a, .row_off a { color: #000000; }
